.experience-section {
    margin: 40px 20px;
    padding-left: 30px;

    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #00ff9d, #00b8d4) 1;
    position: relative;
}

.experience-title {
    color: #3ca1ff;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.experience-item {
    margin-bottom: 80px;
    padding-left: 20px;
}

.experience-tasks {
    list-style-type: disc;
    margin-left: 20px;
}

.experience-date {
    display: block;
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.experience-tasks li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #e1e1e6;
}

@media (max-width: 768px) {
    .experience-section {
        padding-left: 0px;
    }

    .experience-tasks {
        margin-left: 0px;
    }

}